{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container pb-5">
    <h1>About AutoBacklog</h1>
    <div>
        <p>
            AutoBacklog is a backlog service that let you connect your PlayStation Network account to automatically import your library and tag them accordingly: bought, played, finished, platinumed.<br /><br />
            I built AutoBacklog after subscribing to PlayStation+ Premium: my library became a mess ! Impossible to know what games I finished, abandonned, downloaded but never opened or even to differenciate between games I bought, games I got as a monthly game and games from the game catalog.
        </p>
    </div>
    <h2>Public and Private Libraries</h2>
    <div>
        <p>
            To get your public library (played games with completion status), AutoBacklog only need your public username. If you wish to get your full library (unplayed games, ownership status...) you need to use your NPSSO. If you want to get your data quickly, we provide a one-click import form on our Settings page. AutoBacklog is fully open source, so you can see how we use your NPSSO: we only use it to get your library data, then delete it immediatly.<br /><br />
            If you don't want to paste your NPSSO on our website, we provide an <a href="">open source and easy to use python script</a> to export your private library in a json file, that you can then import in your profile from the settings page.<br /><br />
            If you don't want to use your NPSSO at all, we plan to quickly release an update to allow you to manually add unplayed games and ownership status.
        </p>
    </div>
</div>
<div class="w-100 bg-danger-subtle py-5">
    <div class="container">
        <h2>Alpha Notice</h2>
        <p>The service is still in it's very early stage, so you should expect bugs and missing features. If you wish to report a bug or request a feature, please use the "Feedback" page (need to be logged in) or send an email to the address below.<br />
            Your feedback is really important, as it will shape the future of AutoBacklog.</p>
    </div>
</div>
<div class="container py-5">
    <h2>Contact</h2>
    <p>Questions? Suggestion? Let's talk!</p>
    <a href="mailto:contact@autobacklog.com">contact@autobacklog.com</a>
</div>
{% endblock %}