{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="header-background-image" class="position-absolute top-0 start-0 w-100 h-100 opacity-50" style="background-image: url('{% static "assets/images/autoBacklogScreenshotLight.webp" %}'); background-repeat: no-repeat; background-position: center;"></div>
<div class="position-absolute top-0 start-0 w-100 h-100" style="-webkit-backdrop-filter: blur(3px); backdrop-filter: blur(3px);"></div>
<!--<div class="w-50">
    <img class="w-100" src="{% static 'assets/images/autoBacklogScreenshot.png' %}" alt="AutoBacklog Screenshot" />
</div>-->
<div class="position-absolute top-0 start-0 h-100 w-100">
    <div class="row align-content-center justify-content-center h-100 w-100 mx-auto">
        <div class="col-11 col-md-6 bg-body-secondary border rounded shadow z-0 p-4 text-center">
            <h2>Never Lose Track of Your PlayStation Games Again</h2>
            <p class="mt-2">Automatically import your PSN library and see what you've bought, played, finished, or platinumed. All in one place.</p>
        </div>
    </div>
</div>
<div class="vh-100"></div>
<div class="py-5 bg-body-secondary">
    <div class="container row mx-auto">
      {% include 'components/feature.html' with icon='lock' title='Secure Import' content="Securely import your public library with just your username." only %}
      {% include 'components/feature.html' with icon='trash' title='Declutter with Shelving' content="Shelf games you'll never play, keep your backlog focused." only %}
      {% include 'components/feature.html' with icon='bar-chart' title='Completion Dashboard' content="Instant visual stats: Unplayed - Unfinished - Finished - Completed." only %}
      {% include 'components/feature.html' with icon='funnel' title='Smart filters' content="Filter games by status: Owned - PS+ - Game Catalog - Unplayed and more." only %}
    </div>
</div>

<div class="py-5">
    <div class="row gx-md-5 container mx-auto align-items-center">
    <div class="col-12 col-md-6">
      <video class="w-100" controls>
        <source src="{% static 'assets/videos/import_library.mp4' %}" type="video/mp4" />
      </video>
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <div>
            <h5>1. Enter your PlayStation username</h5>
            <p>Just enter your public username</p>
        </div>

        <div>
            <h5>2. Wait for a minute</h5>
            <p>Wait while we check your profile and library</p>
        </div>

        <div>
            <h5>3. Enjoy your library</h5>
            <p>With automatic completion status</p>
        </div>
    </div>
    </div>
</div>

<div class="py-5 bg-body-secondary">
    <div class="container mx-auto">
        <h4 class="text-center mb-3">FAQ</h4>


<div class="accordion" id="accordionFaq">
  {% include "components/accordion_item.html" with parent="accordionFaq" id="One" header="What data can I get with only my PlayStation username?" body="You can get all your played games with completion status: unfinished, finished or completed (plat)." expanded="true" only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Two" header="What other data can I get?" body="If you want to use your NPSSO, you can also get your unplayed games and ownership status: Owned, monthly game (PS+), game catalog (PS+)." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Eight" header="What is the NPSSO?" body="The NPSSO is a web token used by Sony's API to access your account informations in read-only mode. Sony doesn't offer other ways to access the list of unplayed games and ownership status, so we need it for our one-click import function. AutoBacklog is open-source, so you can see how we handle your NPSSO: it's only used to get unplayed games and ownership status, then it's definitively deleted. If you still doesn't trust us to handle your NPSSO, you can check alternative ways to import your full library bellow." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Three" header="Do I need to enter my NPSSO on this website to get my private data?" body="No, if you don't wish to enter your NPSSO on our website, you can use our open-source python script, then import the generated json file into your account. You can find the link to our python script in the About page or in the Settings page." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Four" header="How can I get my NPSSO?" body="We provide full instructions to safely get your NPSSO on the Settings page." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Five" header="Can I hide PS+ games I don't care about?" body="Yes! Shelf them and they'll vanish from your main view." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Six" header="Is AutoBacklog opensource?" body="Yes! AutoBacklog is opensource. You can find the GitHub links in the header and footer of this page." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Seven" header="I try to import my library but it keeps failing!" body="Make sure your played games and earned trophies are public. Also make sure that your account is searchable by all." only %}
  {% include "components/accordion_item.html" with parent="accordionFaq" id="Nine" header="When I import my public library, a bunch of Game Catalog games get tagged as Free Monthly Game. Why?" body="The public library API can't make the difference between Monthly Game and Game Catalog games, so it will tag them all as Monthly Game. Using the NPSSO one-click import or uploading a json file generated by our python script will properly tag your games." only %}
</div>
</div>
</div>

<div class="py-5">
    <div class="container mx-auto row">
        <div class="col-12 col-md-6 fs-3 text-center text-md-start">
            Ready to organize your PSN library?
        </div>
        <div class="d-flex col-12 col-md-6 justify-content-md-end justify-content-center align-items-center mt-4 mt-md-0">
            <a href="{% url 'account_signup' %}" class="btn btn-primary fs-4">Try the Alpha</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const header_background_image = document.getElementById("header-background-image")
    let theme = document.documentElement.getAttribute("data-bs-theme")
    if (theme === "dark") header_background_image.style.backgroundImage = `url('{% static "assets/images/autoBacklogScreenshot.webp" %}')`
</script>
{% endblock %}