SECRET_KEY=YOUR_SECRET_KEY
DEBUG=False
ALLOWED_HOSTS=autobacklog.com,www.autobacklog.com
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=db
DB_PORT=5432
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_DOMAIN=https://autobacklog.com
CSRF_TRUSTED_ORIGINS=https://autobacklog.com,https://www.autobacklog.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=YOUR_EMAIL_HOST
EMAIL_PORT=YOUR_EMAIL_PORT
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD
REDDIT_CLIENT_ID=YOUR_REDDIT_CLIENT_ID
REDDIT_SECRET=YOUR_REDDIT_SECRET
REDDIT_USER_AGENT=YOUR_REDDIT_USER_AGENT
FERNET_KEY=I2TjESA3463Mjw3igZBhTY6PQR6eKs3mq31GraJXM6o=
DEFAULT_FROM_EMAIL="YOUR_NAME" <YOUR_EMAIL_ADDRESS>