MANAGE_PY_PATH=manage.py
SECRET_KEY=django-insecure-hv@a*8&0r_b*@$4p!1rl#b$e%_m$ru=8h@ak+@5o*keppy$n40
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=autobacklog
DB_USER=autobacklog
DB_PASSWORD=securepassword
DB_HOST=db
DB_PORT=5432
SECURE_SSL_REDIRECT=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_SECRET=your_reddit_secret
FERNET_KEY=I2TjESA3463Mjw3igZBhTY6PQR6eKs3mq31GraJXM6o=