{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="container">
  {% for message in messages %}
    {% if message.level == ERROR %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
    {% endif %}
  {% endfor %}
  <form class="mb-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="playstationUsername" class="form-label"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#UsernameModal">PlayStation Username:<i class="bi bi-question-circle ms-2"></i></button></label>
          <input type="text" class="form-control" id="playstationUsername" name="playstationUsername" {% if playstation_username %}value="{{ playstation_username }}"{% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Sync with username</button>
      </form>
<hr />
      <form class="mb-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="npsso" class="form-label"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NpssoModal">Sync with NPSSO<i class="bi bi-question-circle ms-2"></i></button></label>
          <input type="text" class="form-control" id="npsso" aria-describedby="npssoHelp" name="npsso">
        </div>
        <button type="submit" class="btn btn-primary">Sync with NPSSO</button>
      </form>

      <form method="post" action="/accounts/upload_entitlements/" enctype="multipart/foU<i class="bi brm-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="formFile" class="form-label"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#JsonModal">Sync with JSON file<i class="bi bi-question-circle ms-2"></i></button></label>
          <input class="form-control" type="file" id="formFile" name="json_file" accept=".json">
        </div>
        <button type="submit" class="btn btn-primary">Sync with JSON file</button>
    </form>
  
<hr />
<div class="form-check form-switch mb-3">
    <input class="form-check-input" type="checkbox" value="" id="checkNativeSwitch" name="darkMode" switch onclick="toggle_theme()">
    <label class="form-check-label" for="checkNativeSwitch">
      Dark Mode
    </label>
  </div>

<hr />
<div id="clearLibrary">
  <button type="button" class="btn btn-danger" hx-delete="{% url 'settings' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#clearLibrary" hx-confirm="This will clear all the data in your library. Are you sure you want to proceed?">Clear Library</button>
</div>


  <div class="modal fade" id="UsernameModal" tabindex="-1" aria-labelledby="UsernameModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UsernameModalTitle">How to import your public library?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>In your PlayStation account settings, make sure that your library is public and that your account is searchable by all.</li>
          <li>Enter your PlayStation username in a case-sensitive manner.</li>
          <li>Wait for your library to finish loading (it may take a few minutes).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="modal fade" id="NpssoModal" tabindex="-1" aria-labelledby="NpssoModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NpssoModalTitle">How to get your NPSSO ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>In your web browser, access <a href="https://store.playstation.com" target="_blank">https://store.playstation.com <i class="bi bi-box-arrow-up-right"></i></a> and log in with your PSN account.</li>
          <li>In the same browser, access <a href="https://ca.account.sony.com/api/v1/ssocookie" target="_blank">https://ca.account.sony.com/api/v1/ssocookie <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li>You should see a response with npsso followed by a string of letters and numbers. Highlight and copy this (without the "").</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="JsonModal" tabindex="-1" aria-labelledby="JsonModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="JsonModalTitle">How to get your JSON file?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Get your NPSSO token by following the instructions above.</li>
          <li>Download our <a href="https://github.com/Philamand/AutoBacklogLibraryImporter" target="_blank">open-source python script</a>.</li>
          <li>Follow the instruction from the README.</li>
          <li>Import the generated json file and click "Sync with json file".</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let theme = "light"
    {% if not theme or theme == 'dark' %}
    if ('{{ theme }}' === 'dark' || (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.getElementById("checkNativeSwitch").checked = true
            theme = "dark"
        }
    {% endif %}
    async function toggle_theme() {
        if (theme === "light") theme = "dark"
        else theme = "light"
        document.documentElement.setAttribute('data-bs-theme', theme)
        const response = await fetch("{% url 'toggle_theme' %}",
           {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ theme: theme })
        }
        )
    }
</script>
{% endblock %}