<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addModalLabel">Add Game</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="addGameBody" class="modal-body">
          <input class="form-control mb-3" type="search" name="search" hx-post="/games/search_titles/" hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load" hx-target="#searchTitlesResult" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' />

          <div id="searchTitlesResult"></div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>